.budget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-color); /* Ako koristiš varijable za boje */
  }
  
  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.833);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    /* font-weight: bold */
    background-color:  rgba(247, 202, 201, 0.87); 
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: rgba(247, 202, 201, 0.753); 
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(1);
  }
  