<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
    rel="stylesheet"/>
</head>
<div style="display: inline-flex;">
    <div id="navigation">
        <app-link class="vertical" text="Home"  ></app-link>
        <app-link class="vertical" text="Manage requests"></app-link>
        <app-link class="vertical" text="Admin" ></app-link>
        <app-link class="vertical" text="Log out" (click)="logout()" ></app-link>
    </div>
    <mat-icon class="material-icons-outlined" [routerLink]="['/account']">account_circle</mat-icon>
</div>

