<div class="category-selection-container">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Type Category</mat-label>
        <mat-select formControlName="typeCategory">
          <mat-option value="">None</mat-option>
          <mat-option value="Creams">Creams</mat-option>
          <mat-option value="Serums">Serums</mat-option>
          <mat-option value="Lotions">Lotions</mat-option>
        </mat-select>
      </mat-form-field>
  
      <div *ngIf="categoryForm.get('typeCategory')!.value">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Age Category</mat-label>
          <mat-select formControlName="ageCategory">
            <mat-option value="">None</mat-option>
            <mat-option value="Kids">Kids</mat-option>
            <mat-option value="Youngsters">Youngsters</mat-option>
            <mat-option value="Elderly">Elderly</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div *ngIf="categoryForm.get('ageCategory')!.value">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usage Category</mat-label>
          <mat-select formControlName="usageCategory">
            <mat-option value="">None</mat-option>
            <mat-option value="day">Day</mat-option>
            <mat-option value="night">Night</mat-option>
            <mat-option value="day&night">Day & Night</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <button mat-button (click)="onSubmit()">Submit</button>
    </form>


    <div *ngIf="products.length > 0" class="results-container">
        <h2>Search Results</h2>
        <div *ngFor="let product of products" class="product-card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ product.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Type:</strong> {{ product.path }}</p>
              <p><strong>Price:</strong> {{ product.price }} din</p>
              <p><strong>Instruction:</strong> {{ product.instruction }}</p>
              <p><strong>Vegan:</strong> {{ product.vegan ? 'Yes' : 'No' }}</p>
              <p><strong>Skin Types:</strong> {{ product.skinTypes.join(', ') }}</p>
              <p><strong>Benefits:</strong> {{ product.benefits.join(', ') }}</p>
              <p><strong>Ingredients:</strong> {{ product.ingredientNames.join(', ') }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </div>
  