<div class="homepage-container">
    <header class="header">
        <h1 class="title">Admin Dashboard</h1>
        <p class="subtitle">~ Manage and Oversee Your Platform ~</p>
    </header>
    <section class="content">
        <div class="info-box">
            <button class="info-card" (click)="selectOption('reportManagement')">
                <h2 class="info-title">Reports</h2>
                <p class="info-text">"Generate detailed reports for insights."</p>
            </button>
            <button class="info-card" (click)="selectOption('productManagement')">
                <h2 class="info-title">Product Management</h2>
                <p class="info-text">"Add and manage products with ease.""</p>
            </button>
        </div>
    </section>
</div>

  
