<mat-toolbar id="toolbar">
  <span class="logo_name">GlowGuide</span>
  <span class="example-spacer"></span>
  <app-link *ngIf="role === null" class="link" text="Home" source="home"></app-link>
  <app-link *ngIf="role === null" class="link" text="Log in" source="login"></app-link>
  <div class="text-box" *ngIf="role === null">
    <app-link class="link" text="Sign up" (click)="signup()"></app-link>
  </div>
  <app-user-toolbar *ngIf="role === 'user'"></app-user-toolbar>
  <app-admin-toolbar *ngIf="role === 'admin'"></app-admin-toolbar>
</mat-toolbar>
