<mat-card class="product-card">
    <div class="card-content">
    <h1>{{product.name}}</h1>
    <mat-card-content>
      <div class="product-details">
        <div class="product-detail">
          <strong>Price:</strong> {{ product.price }} din 
        </div>
        <div class="product-detail">
          <strong>Instruction:</strong> {{ product.instruction }}
        </div>
        <div class="product-detail">
          <strong>Vegan:</strong> {{ product.vegan ? 'Yes' : 'No' }}
        </div>
        <div class="product-detail">
          <strong>Skin Types:</strong> {{ product.skinTypes.join(', ') }}
        </div>
        <div class="product-detail">
          <strong>Benefits:</strong> {{ product.benefits.join(', ') }}
        </div>
        <div class="product-detail">
          <strong>Ingredients:</strong> {{ product.ingredientNames.join(', ') }}
        </div>
      </div>
    </mat-card-content>
    </div>
    <mat-card-actions>
        <button mat-button color="primary" (click)="buyProduct(product)">Buy</button>
      </mat-card-actions>
  </mat-card>
  